ww

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
file_path = r"C:\Users\Deshan\Downloads\bank+marketing\bank\bank-full.csv"

df = pd.read_csv(file_path)

In [8]:
df.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  58;"management";"married";"tertiary";"no";2143...
1  44;"technician";"single";"secondary";"no";29;"...
2  33;"entrepreneur";"married";"secondary";"no";2...
3  47;"blue-collar";"married";"unknown";"no";1506...
4  33;"unknown";"single";"unknown";"no";1;"no";"n...

In [3]:
columns = [
    "age",
    "job",
    "marital",
    "education",
    "default",
    "balance",
    "housing",
    "loan", 
    "contact",
    "day",
    "month",
    "duration",
    "campaign",
    "pdays",
    "previous", 
    "poutcome",
    "y"
]

df = pd.read_csv(file_path, sep=';', header=None, names=columns)

df = df.replace('"', '', regex=True)

output_file_path = r"C:\Users\Deshan\Downloads\bank+marketing\bank\bank structured.csv"
df.to_csv(output_file_path, index=False)

print(f"Structured dataset saved to {output_file_path}")

C:\Users\Deshan\AppData\Local\Temp\ipykernel_23808\3866324204.py:21: DtypeWarning: Columns (0,5,9,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep=';', header=None, names=columns)

Structured dataset saved to C:\Users\Deshan\Downloads\bank+marketing\bank\bank structured.csv

In [4]:
df = pd.read_csv(output_file_path)
df.head()

C:\Users\Deshan\AppData\Local\Temp\ipykernel_23808\1775116040.py:1: DtypeWarning: Columns (0,5,9,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(output_file_path)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
2,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
3,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
4,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45212 entries, 0 to 45211
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45212 non-null  object
 1   job        45212 non-null  object
 2   marital    45212 non-null  object
 3   education  45212 non-null  object
 4   default    45212 non-null  object
 5   balance    45212 non-null  object
 6   housing    45212 non-null  object
 7   loan       45212 non-null  object
 8   contact    45212 non-null  object
 9   day        45212 non-null  object
 10  month      45212 non-null  object
 11  duration   45212 non-null  object
 12  campaign   45212 non-null  object
 13  pdays      45212 non-null  object
 14  previous   45212 non-null  object
 15  poutcome   45212 non-null  object
 16  y          45212 non-null  object
dtypes: object(17)
memory usage: 5.9+ MB